:root {
  --color1: #cdf5fd;
  --color2: #a0e9ff;
  --color3: #89cff3;
  --color4: #00a9ff;
  --fondo: #837f7f;
  --fondoForm: var(--color3);
  --bordeInput: #005580;
  --fondoInput: var(--color2);
  --texto: #1101ec;
  --sombra: #00e3f3;

}

* {
  padding: 0;
  margin: 0;
}
html {
  background: linear-gradient(to bottom, var(--color4), var(--fondo));
  min-height: 100vh;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  /* background-color: var(--fondo); */

  color: var(--texto);
}

header {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header a {
  color: var(--texto);
  font-size: 1.5em;
  max-height: 20px;
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 2px 1px 0.8px var(--sombra);
  border: 2px solid var(--color4);
  border-radius: 15px;
  
  background: var(--color3);
}
header a:hover {
  background-color: var(--color4);
}
.btn{
    background-color:var(--color4);
    width:80px;
    height: 30px;
    border-top: 1px solid var(--color1);
    color:var(--color1);
    font-size: 1.2em;
    text-shadow: 2px 2px 0.4px var(--texto);
}
main {
  /* width: 500px; */
  max-width: 600px;
  margin: 0 auto;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 300px;
  background-color: rgb(12, 55, 245);
  min-height: 150px;
  padding: 15px;
  margin: 10px;
}
.group-control {
  margin: 5px;
}
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--bordeInput);
    border-right: 2px solid var(--bordeInput);
    background-color: var(--fondoInput);
    text-align: center;
    font-size: 2em;
  }
  input:focus{
    outline: none;
  }
  .row{
    display: flex;
    justify-content: space-around;

  }
.row button {
  width: 50px;
  height: 50px;
  background-color: var(--color4);
}
.row button:hover{
    background-color: var(--color2);
    transition: background-color 0.5s ease;
}
#error{
    background-color: var(--color2);
}
footer{
    display:flex;
    justify-content:center;
    flex-direction: row;
  }
  /*para pantallas menores a 500px*/
  @media (max-width: 500px) {
  main{
    min-width: 250px;
  }  
  .row{
    display: flex;
    flex-direction:column;
  }
  .contenedor {
    flex:1;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 20px;
  }
  footer{
    display:flex;
    justify-content:center;
    flex-direction: column;
  }  
  }