/*:root{
  --color1:#EAE509;
  --color2:#7DCE13;
  --color3:#5BB318;
  --color4:#113602;
  --fondo:#b8b6b6;
  --fondoForm:#aceca6;
  --bordeInput:#186102dc;
  --fondoInput:#c1eebc;
}*/
:root{
  --color1:#CDF5FD;
  --color2:#A0E9FF;
  --color3:#89CFF3;
  --color4:#00A9FF;
  --fondo:#837f7f;
  --fondoForm: var(--color3);
  --bordeInput:#005580;
  --fondoInput: var(--color2);
  --texto:#1101ec;
  --sombra: #00e3f3;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: var(--fondo);
  color:var(--texto);
 
}

header {
  background-color: var(--color4);
  min-height: 50px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
header a{
  color:var(--texto);
  font-size: 1.5em;
  max-height: 20px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-shadow: 2px 1px 0.8px var(--sombra);
  border:2px solid var(--color4);
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px;
  background:var(--color3);
}
header a:hover{
  background-color: var(--color4);
}

main {
  width: 500px;
  margin: 0 auto;

}

form {
  margin-top: 20px;
  border:5px groove var(--color1);
  background-color: var(--fondoForm);
  /* border-top-right-radius: 15%; */
  
}
form h1, form p{
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row{
  display: flex;
  flex-direction:row;
}
.contenedor {
  flex:1;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  padding: 20px;
}

label {
  font-weight: bold;
  text-shadow: 1px 2px 1px var(--sombra);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bordeInput);
  border-right: 2px solid var(--bordeInput);
  background-color: var(--fondoInput);
}
input:focus{
  outline: none;
}
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius:10px;
  border-bottom: 2px solid var(--bordeInput);
  border-right: 2px solid var(--bordeInput);
  background-color: var(--fondoInput);
}


input[type="submit"] {
  background-color: #000;
  color :white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}
#valor{
  color:red;
}
footer{
  display:flex;
  justify-content:center;
  flex-direction: row;
}
